html {
    background-image: url(https://c.pxhere.com/photos/d7/f3/river_mirroring_water_sunset_reflection_reflections_back_light_mood-1407860.jpg!d);
    background-repeat:no-repeat;
    background-size: cover;

}

body {
    background-color: rgba(51, 51, 51, 0.341);
}

body {
    color: white;
}

#content {
    background-color: rgba(116, 39, 188, 0.419);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}