html {
    background-image: url(https://c.pxhere.com/photos/d7/f3/river_mirroring_water_sunset_reflection_reflections_back_light_mood-1407860.jpg!d);
    background-repeat:no-repeat;
    background-size: cover;

}

body {
    background-color: rgba(32, 0, 67, 0.57);
}

body {
    color: white;
}